.info table tr
{
	border:0;
	text-align: center;
	color:deeppink;	
}
.info table tr:nth-child(odd){background-color: lightgrey;}
.info table tr td
{
	padding-top: 2rem;
}
.info table tr .title
{
	width: 20%;
}
.info table tr .content
{
	width: 80%;
}
.info table tr .td_link
{
	text-align: center;
}
.info table tr .td_link a
{
	text-decoration: none;	
}